<!DOCTYPE html>
<html>
<head>
	  <meta charset="UTF-8">
	  <title>Login page</title>
	  <link rel="stylesheet" href="/static/css/log-reg-page.css">
</head>
<body>
	<div class="main">  	
			<div class="signup">
				<form>
					<br><br><font size="7" class="textSverhy"><b> Sign up </b></font>
					<input type="text" name="txt" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>
	</div>
</body>
</html>
