<!DOCTYPE html>
<html lang="en">
<head>
<title>Music Player</title>
<!-- Иконки -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

<!-- Стили -->
<link rel="stylesheet" type="text/css" href="/static/css/player.css">
</head>
<body>
<form method="POST">{% csrf_token %}
<div class="player">
	<!-- разделы для отображения деталей -->
	<div class="details">
	<div class="now-playing">PLAYING x OF y</div>
	<div class="track-art"></div>
	<div class="track-name">Track Name</div>
	<div class="track-artist">Track Artist</div>
	</div>

	<!-- раздел для отображения кнопок трека -->
	<div class="buttons">
	<div class="prev-track" onclick="prevTrack()">
		<i class="fa fa-step-backward fa-2x"></i>
	</div>
	<div class="playpause-track" onclick="playpauseTrack()">
		<i class="fa fa-play-circle fa-5x"></i>
	</div>
	<div class="next-track" onclick="nextTrack()">
		<i class="fa fa-step-forward fa-2x"></i>
	</div>
	<div class="send-id" onclick="favorite()">
		<i class="fa fa-heart fa-2x"></i>
	</div>
	</div>

	<!-- раздел для отображения ползунка-->
	<div class="slider_container">
	<div class="current-time">00:00</div>
	<input type="range" min="1" max="100"
		value="0" class="seek_slider" onchange="seekTo()">
	<div class="total-duration">00:00</div>
	</div>

	<!-- раздел для отображения ползунка громкости-->
	<div class="slider_container">
	<i class="fa fa-volume-down"></i>
	<input type="range" min="1" max="100"
		value="99" class="volume_slider" onchange="setVolume()">
	<i class="fa fa-volume-up"></i>
	</div>
</div>
</form>

<!-- ну кстати я понял как работает эта тварь снизу, не така уж она и тварь ツ -->
<script src='http://code.jquery.com/jquery-latest.min.js'></script>
<script id="test" src="/static/js_scripts/player.js">
{{data|safe}}
</script>
</body>
</html>
