<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<header>
    <h1 class="nameof">Listentay</h1>
</header>
<body class="container text-center" style="display: flex; align-items: center;">
<main class="container form-signin w-1000 m-auto">
  <form method="post" style="width: 1000px; margin-left: -250px; transform: scale(1.4);">{% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    {% for field in form %}

      {% if field.errors %}
        {{ field.errors }}
      {% endif %}

    <div class="form-floating">
      {{ field }}
      <label style="">{{field.label}}</label>
    </div>
    {% endfor %}
    <br><button class="w-10 btn btn-lg btn-primary" type="submit">Register</button>
    <br><a href="/login">Already have an account</a>
  </form>
</main>
</body>
</html>