{% extends './base.html' %}

{% block content %}
		<div class="container-tracks">
		  {% for track in playlist.tracks.all %}
			<div class="cell">
			<div class="image-container">
				<img src='/static/default.jpg' alt=''>
					<button id="play-img" type="submit" onclick="playcurrTrack('{{track.location}}')"><i class="fa fa-play-circle fa-5x"></i></button>
			</div>
                <div class='info'>
                	<h2>{{ track.name }}</h2>
                	<p>{{ track.author }}</p>
                </div>
			</div>
		  {% endfor %}
		</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/user_music.css">
{% endblock %}

{% block scripts %}
<script id="test" src="/static/js_scripts/user_music.js"></script>
{% endblock %}
<