{% extends './base.html' %}

{% block content %}

<form method="get">{% csrf_token %}
<div class="container-playlists">
    <div class="title">
        <h1>Плейлисты</h1>
    </div>
{% for i in playlists %}

    <div class="playlist">
        <div class="image-container">
            <img src='/static/default.jpg' alt=''>
            <button id="play-img" type="submit" onclick="getPlaylistData({{ i.playlist.id }})"><i class="fa fa-play-circle fa-5x"></i></button>
            <h3>{{ i.playlist.name }}</h3>
        </div>
    </div>

{% endfor %}

</div>
</form>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/static/css/user_playlists.css">
{% endblock %}

{% block scripts %}
<script id="test" src="/static/js_scripts/user_playlists.js"></script>
{% endblock %}